
@model List<PruebaTec.View.Models.EmployeeViewModel>
@{
    ViewBag.Title = "Pagina de Empleados";
}
<div class="text-center">
    <h1>Listado de Empleados</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Empleado</th>
            <th scope="col">Correo Electronico</th>
            <th scope="col">Salario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employees in Model)
        {
            <tr>
                <td>@employees.IdEmployee</td>
                <td>@employees.Employee_LastName, @employees.Employee_Name</td>
                <td>@employees.Employee_Email</td>
                <td>@employees.Employee_Salary</td>
                <td>@Html.ActionLink("Borrar", "Delete", new { id = employees.IdEmployee }, new { onclick = "return confirm('Esta seguro de borrar')" })</td>
                <td>@Html.ActionLink("Modificar", "Edit", new { id = employees.IdEmployee })</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Insert", "Employees")'">Crear</button>
</div>